footer {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	text-align: center;

	ul.wallet-list {
		list-style-type: none;
		padding: 0;

		li.wallet {
			display: flex;
			justify-content: space-between;
			margin: 1em 0;

			:nth-child(1) {
				flex-basis: 3rem;
				text-align: left;
			}

			:nth-child(2) {
				text-align: left;
				flex: 0 1 100%;
			}
		}
	}
}
