ul.guide-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;

	li {
		flex: 1 0 15rem;
		margin: 0.5rem;

		a {
			border-radius: 0.5rem;
			background-color: var(--purple);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: var(--white);
			text-decoration: none;
			height: 100%;
			width: 100%;
			filter: brightness(100%);
			will-change: filter;
			transition: filter ease-in-out 0.125s;

			&:hover,
			&:focus,
			&:active {
				filter: brightness(110%);
			}

			span.title {
				display: block;
				margin: 0;
				padding: 1rem;
				font-size: 1.5rem;
				line-height: 1.6em;
				font-weight: 600;
			}

			div.details {
				padding: 1rem 0;
				background: var(--transparent-10);
				font-size: 0.8rem;
				line-height: 1.6em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				p {
					margin: 0;
					padding: 0 1rem;
				}
			}
		}
	}
}
