a.heading-link {
	display: inline-block;
	width: 0;
	text-decoration: none;
	visibility: hidden;

	span.icon { padding-left: 0.5rem; }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&:hover a.heading-link { visibility: visible; }
}
