header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	padding: 1rem;

	.gabes-guide {
		font-size: 1.75rem;
		font-weight: 500;
		display: block;
		margin: 0;
		padding: 0;
	}

	h1.gabes-guide { line-height: 1em; }

	span.for {
		font-style: italic;

		&:before { content: "~ "; }

		&:after { content: " ~"; }
	}

	.icon {
		font-size: 1.5rem;
	}

	button.theme-toggle { padding: 0; }
}
