extends /layouts/default.pug

mixin guide (href, title, published, updated)
	li: a(href=href)
		span.title=title
		div.details
			p
				span.key Published:&nbsp;
				span.value=published
			p
				span.key Last updated:&nbsp;
				span.value=updated

block variables
	- var pageTitle = "Gabe's Guide"
	- var pageDescription = "Various guides for various tasks, as written by Gabe"

block title-section
	h1.gabes-guide Gabe's Guide

block content
	p Hey!
	p I'm Gabe, and these are some guides I've written to help my friends or to
		|  help me remember how to do certain things.  Maybe they'll be of use to
		|  you, too!
	h2 Guides
	ul.guide-list
		+guide("gabes-minecraft-setup.html", "Gabe's Minecraft Setup", "2020-01-08", "2020-01-08")
		+guide("ssh-windows.html", "Windows, SSH, and PuTTY", "2020-01-08", "2020-01-08")
		+guide("prezto-on-centos.html", "Prezto on CentOS 7", "2020-01-08", "2020-01-08")
