@use "sass:color";

// Reset
@import "./reset";

// Variables
@import "./variables/borders";
@import "./variables/colors";
@import "./variables/layout";

// Mixins
@import "./mixins/outlines";

// Global Styles
@import "./forms";
@import "./helpers";
@import "./syntax-highlighting";
@import "./typography";

// Components
@import "./components/footer";
@import "./components/guide-list";
@import "./components/header";
@import "./components/heading-link";

html { font-size: 130%; }

body {
	--white: #{$light-base00};
	--lightest-gray: #{$light-base01};
	--light-gray: #{$light-base02};
	--gray: #{$light-base03};
	--dark-gray: #{$light-base04};
	--darker-gray: #{$light-base05};
	--darkest-gray: #{$light-base06};
	--black: #{$light-base07};
	--red: #{$light-base08};
	--orange: #{$light-base09};
	--yellow: #{$light-base0a};
	--green: #{$light-base0b};
	--teal: #{$light-base0c};
	--blue: #{$light-base0d};
	--purple: #{$light-base0e};
	--brown: #{$light-base0f};
	--transparent-10: #{color.scale($color: $light-base07, $alpha: -90%)};

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	color: var(--black);
	line-height: 1.6em;
	scrollbar-color: var(--darker-gray) var(--darkest-gray);

	code,
	pre {
		background: var(--black);
		color: var(--white);
	}

	div.above-fold { min-height: calc(100vh - 2rem - (1.6 * 0.8rem)); }

	&.dark-theme {
		--white: #{$dark-base00};
		--lightest-gray: #{$dark-base01};
		--light-gray: #{$dark-base02};
		--gray: #{$dark-base03};
		--dark-gray: #{$dark-base04};
		--darker-gray: #{$dark-base05};
		--darkest-gray: #{$dark-base06};
		--black: #{$dark-base07};
		--red: #{$dark-base08};
		--orange: #{$dark-base09};
		--yellow: #{$dark-base0a};
		--green: #{$dark-base0b};
		--teal: #{$dark-base0c};
		--blue: #{$dark-base0d};
		--purple: #{$dark-base0e};
		--brown: #{$dark-base0f};
		--transparent-10: #{color.scale($color: $dark-base07, $alpha: -90%)};

		scrollbar-color: var(--light-gray) var(--lightest-gray);

		code,
		pre {
			background: var(--white);
			color: var(--black);
		}
	}
}

a {
	color: var(--blue);

	&:focus { @include standard-focus-outline; }

	&:visited { color: var(--purple); }
}

article {
	padding: 1rem;
	padding-top: 0;
	width: 100%;
	max-width: $max-content-width;
	margin: auto;
}

code {
	padding: 0.125rem 0.25rem;
	white-space: nowrap;
	border-radius: 0.25rem;
	border: 0.125rem solid;
	border-color: var(--gray);
}

pre {
	padding: 1.5rem;
	border-radius: 0.5rem;
	border: $standard-border;
	border-color: var(--gray);

	code {
		display: block;
		padding: 0;
		white-space: pre;
		border: none;
	}
}
