@import "../../node_modules/highlight.js/scss/default";

body {
	.hljs {
		background: $light-base07;
		color: $light-base00;
	}

	&.dark-theme {
		.hljs {
			background: $dark-base00;
			color: $dark-base07;
		}
	}
}

.hljs { padding: 0; }

.hljs-comment,
.hljs-quote { color: var(--dark-gray); }

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion { color: var(--red); }

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link { color: var(--orange); }

.hljs-attribute { color: var(--yellow); }

.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition { color: var(--green); }

.hljs-title,
.hljs-section { color: var(--blue); }

.hljs-keyword,
.hljs-selector-tag { color: var(--purple); }
