h1 {
	line-height: 1.6em;

	&:first-of-type {
		text-align: center;
		margin-top: 0;
	}
}

h2 {
	line-height: 1.6em;
	border-bottom: $thin-border;
	border-color: var(--gray);
}

h3 {
	line-height: 1.6em;
	border-bottom: $thinnest-border;
	border-color: var(--light-gray);
}

h4 {
	line-height: 1.6em;
}

h5 { line-height: 1.6em; }

h6 { line-height: 1.6em; }

.icon {
	font-family: initial;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
