block variables
	- var pageTitle = "Gabe's Guide"
	- var pageDescription = "Various guides for various tasks, as written by Gabe"

mixin wallet(label, name, address)
	li.wallet
		span.wallet-label=label
		a.wallet-address(href=`${name}:${address}`)=address

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description", content=pageDescription)
		meta(name="viewport", content="width=device-width")
		meta(name="robots", content="index,follow")
		title #{pageTitle}
		link(rel="preload", href="site.js", as="script")
		link(rel="preload", href="site.css", as="style")
		block preloads
		link(rel="stylesheet", href="site.css")
		block styles
	body.dark-theme
		script(src="apply-user-preferences.js")
		div.above-fold
			header
				a.home-link.icon(href="index.html", title="Home", aria-label="Home")
					span(aria-hidden="true") 🏠
				div.title-wrapper
					block title-section
						span.gabes-guide Gabe's Guide
						span.for for
				button.theme-toggle.icon(
					type="button",
					title="Toggle light/dark theme"
					aria-label="Toggle light/dark theme"
				) 🌓
			main: article
				block content
		footer
			p.made-by-message
				| Made by&nbsp;
				a(href="https://gabe.xyz") Gabe
				| &nbsp;with &hearts;
			p.philosophy
				| All code is&nbsp;
				a(href="https://www.gnu.org/philosophy/free-sw.html") libre
				| &nbsp;and open-source, licensed under the&nbsp;
				a(href="https://www.gnu.org/licenses/gpl-3.0.en.html") GNU Public License v3
				| &nbsp;and available on&nbsp;
				a(href="https://gitlab.com/gabeotisbenson/gabes-guide") GitLab
			p.license All content licensed under&nbsp;
				a(href="https://creativecommons.org/licenses/by-sa/4.0/") CC BY-SA 4.0
			div.donate-links
				p If you find this site useful and feel like buying me a beer, feel free
					| &nbsp;to use the links below.  No pressure, though; we've all got
					| bills to pay.
				ul.wallet-list
					+wallet("ETH", "ethereum", "0xA941958EE0E10485C8449a5B75d7b85a08EC9217")
					+wallet("XMR", "monero", "47QCECxGqEiWVgiq3Mj4ke2y5oDxJKJ7hinJZKQLiRdveNnuZprSMieGLZuh7uC7Wn7twCqerog8zUr8Z2c1zXtwStmeVDu")
					+wallet("BTC", "bitcoin", "bc1qswyrw36dsgj8hw6rjkhzxhky5cyr3q02gfm53q")
					+wallet("BAT", "basic-attention-token", "0xA941958EE0E10485C8449a5B75d7b85a08EC9217")
		script(src="site.js")
