// Base16 Ocean (Dark Theme)
$dark-base00: #2b303b !default;
$dark-base01: #343d46 !default;
$dark-base02: #4f5b66 !default;
$dark-base03: #65737e !default;
$dark-base04: #a7adba !default;
$dark-base05: #c0c5ce !default;
$dark-base06: #dfe1e8 !default;
$dark-base07: #eff1f5 !default;
$dark-base08: #bf616a !default;
$dark-base09: #d08770 !default;
$dark-base0a: #ebcb8b !default;
$dark-base0b: #a3be8c !default;
$dark-base0c: #96b5b4 !default;
$dark-base0d: #8fa1b3 !default;
$dark-base0e: #b48ead !default;
$dark-base0f: #ab7967 !default;

// Base16 Harmonic Light (Light Theme)
$light-base00: #f7f9fb !default;
$light-base01: #e5ebf1 !default;
$light-base02: #cbd6e2 !default;
$light-base03: #aabcce !default;
$light-base04: #627e99 !default;
$light-base05: #405c79 !default;
$light-base06: #223b54 !default;
$light-base07: #0b1c2c !default;
$light-base08: #bf8b56 !default;
$light-base09: #bfbf56 !default;
$light-base0a: #8bbf56 !default;
$light-base0b: #56bf8b !default;
$light-base0c: #568bbf !default;
$light-base0d: #8b56bf !default;
$light-base0e: #bf568b !default;
$light-base0f: #bf5656 !default;
